@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: #2c7d2e; /* Fondo verde */
}
.bg-green {
    background-color: #2c7d2e;
}
.card-container {
    width: 300px;
    height: 410px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.rotate-180 {
    transform: rotate(180deg);
}

.top {
    font-size:3rem;
    font-family: serif;
}

.number {
    font-size:8rem;
    font-family: serif;
}

.bottom {
    font-size:3rem;
    font-family: serif;
}